streamlit
openai>=1.51.0
fpdf
huggingface-hub>=0.24.0
requests
streamlit-mic-recorder
ffmpeg-python
pydub
requests
huggingface_hub>=0.25.0
streamlit-mic-recorder
requests
fpdf
streamlit
streamlit-mic-recorder
huggingface_hub>=0.26.0
requests
fpdf
